html {
  position: relative;
  height: 100%;
}

body {
  background:
    url('../assets/transparent-square-tiles.png'),
    aquamarine; /* For browsers that do not support gradients */
  background:
    url('../assets/transparent-square-tiles.png'),
    -webkit-linear-gradient(aquamarine, LightGoldenRodYellow ); /* For Safari 5.1 to 6.0 */
  background:
      url('../assets/transparent-square-tiles.png'),
      -o-linear-gradient(aquamarine, LightGoldenRodYellow ); /* For Opera 11.1 to 12.0 */
  background:
      url('../assets/transparent-square-tiles.png'),
      -moz-linear-gradient(aquamarine, LightGoldenRodYellow ); /* For Firefox 3.6 to 15 */
  background:
      url('../assets/transparent-square-tiles.png'),
      linear-gradient(aquamarine, LightGoldenRodYellow ); /* Standard syntax */

  font-family: 'Raleway Dots', cursive;
  font-weight: bold;
  color: darkslategray;
  padding: 0;
  margin: 0;
}

ul {
  list-style: none;
}

h1 {
  font-size: 100px;
  font-weight: 100;
  color: white;
}

h2 {
  font-size: 50px;
}

h3 {
  font-size: 30px;
}

h1, h2, h3 {
  font-family: 'Raleway', cursive;
  text-transform: uppercase;
}

header {
  position: fixed;
  display: flex;
  justify-content: center;
  background-color: rgba(47,79,79, 1);
  width: 100%;
  height: 20px;
  letter-spacing: 2px;
}

header > div{
  color: white;
  text-transform: uppercase;
  margin-left: 50px;
  margin-right: 50px;
  letter-spacing: 5px;
}

#fariba a{
  color: white;
  text-decoration: none;
}

.hinge:hover {
  animation: 5s hinge;
  -webkit-animation: 5s hinge;
  color: yellow;
}

@-webkit-keyframes hinge {
  0% {
     -webkit-transform: rotate(0);
     -webkit-transform-origin: top left;
     -webkit-animation-timing-function: ease-in-out;
  }
  20%, 60% {
     -webkit-transform: rotate(80deg);
     -webkit-transform-origin: top left;
     -webkit-animation-timing-function: ease-in-out;
  }
  40% {
     -webkit-transform: rotate(60deg);
     -webkit-transform-origin: top left;
     -webkit-animation-timing-function: ease-in-out;
  }
  80% {
     -webkit-transform: rotate(60deg) translateY(0);
     opacity: 1;
     -webkit-transform-origin: top left;
     -webkit-animation-timing-function: ease-in-out;
  }
  100% {
     -webkit-transform: translateY(700px);
     opacity: 0;
  }
}

@keyframes hinge {
  0% {
     transform: rotate(0);
     transform-origin: top left;
     animation-timing-function: ease-in-out;
  }
  20%, 60% {
     transform: rotate(80deg);
     transform-origin: top left;
     animation-timing-function: ease-in-out;
  }
  40% {
     transform: rotate(60deg);
     transform-origin: top left;
     animation-timing-function: ease-in-out;
  }
  80% {
     transform: rotate(60deg) translateY(0);
     opacity: 1;
     transform-origin: top left;
     animation-timing-function: ease-in-out;
  }
  100% {
     transform: translateY(700px);
     opacity: 0;
  }
}

.seek {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 80vw;
  height: 80vh;
  min-width: 670px;
  min-height: 530px;
  margin: 0 auto;
  /*border: 1px solid darkslategray;*/
}

#timer-round {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-left: 40px;
  margin-right: 40px;
  font-size: 30px;
  width: 525px;
  margin-top: 80px;
  margin-bottom: 50px;
}

#timer-round.hidden {
  display: none;
}

.hidden {
  display: none;
}

#seek-letter-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 90%;
  min-height: 150px;
  margin-top: 150px;
}

.seek-letter {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: darkslategray;
  height: 150px;
  width: 110px;
  margin-right: 10px;
  margin-left: 10px;
  padding-left: 10px;
  padding-right: 10px;
}

#instructions-animate {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 60%;
}

#instructions-animate h2{
  margin-top: 300px;
}

#instructions-animate p {
  font-size: 20px;
}

#instructions-animate.hidden{
  display: none;
  height: 0;
}

#scrambled-container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 550px;
  min-height: 102px;
  margin: 20px;

}

#scrambled-container.hidden {
  display: none;
  height: 0;
}

.scrambled {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid darkslategray;
  height: 100px;
  width: 90px;
  font-size: 60px;
  text-transform: uppercase;
  background-color: darkslategray;
  text-align: center;
  color: white;
  margin-left: 5px;
  margin-right: 5px;
}

/*.scrambled:not(:last-child) {
  margin-right: 10px;
}*/

#guesses-container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 550px;
  min-height: 102px;
  margin: 0px 20px 50px 20px;
}

#guesses-container.hidden {
  display: none;
}

#guess1, #guess2, #guess3, #guess4, #guess5, #guess6 {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid darkslategray;
  height: 100px;
  width: 90px;
  font-size: 60px;
  text-transform: uppercase;
  text-align: center;
  color: white;
  margin-left: 5px;
  margin-right: 5px;
}

.guessed {
  background-color: darkslategray;
}

.shake {
  animation: shake .5s;
  -webkit-animation: shake .5s;
}

@-webkit-keyframes shake {
   0%, 100% {-webkit-transform: translateX(0);}
   10%, 30%, 50%, 70%, 90% {-webkit-transform: translateX(-5px);}
   20%, 40%, 60%, 80% {-webkit-transform: translateX(5px);}
}

@keyframes shake {
  0%, 100% {transform: translateX(0);}
  10%, 30%, 50%, 70%, 90% {transform: translateX(-5px);}
  20%, 40%, 60%, 80% {transform: translateX(5px);}
}

.words-container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 500px;
  min-height: 30px;
  position: relative;
  bottom: 5px;
  margin-bottom: 5px;
}

.words-container div{
  display: flex;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;
  min-height: 30px;
  min-width: 100px;
  font-size: 20px;
  letter-spacing: 5px;
  padding-left: 5px;
  margin-left: 5px;
}

.words-container.hidden {
  display: none;
}

.rendered-word {
  position: relative;
  background-color: darkslategray;
  color: white;
  -webkit-transform: rotateX(-360deg);
  -webkit-transform-style: preserve-3d;
  -webkit-transition: all 0.5s ease;
  -webkit-transform-origin: 100%;
  transform: rotateX(-360deg);
  transform-style: preserve-3d;
  transition: all 0.5s ease;
  transform-origin: 100%;
}

#id {
  margin: 0 auto;
}

#results-container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 570px;
  margin-left: 20px;
  height: 100px;
  margin-right: 20px;
  margin-top: 150px;
  margin-bottom: 20px;
}

#results-container.hidden {
  display: none;
}

.results {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid darkslategray;
  height: 100px;
  width: 90px;
  font-size: 60px;
  text-transform: uppercase;
  background-color: darkslategray;
  text-align: center;
  color: white;
  margin-left: 5px;
  margin-right: 5px;
}

#continue {
  font-size: 30px;
  margin-bottom: 30px;
}

#pause {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
  background-color: darkslategray;
  color: white;
  font-size: 30px;
  z-index: 2;
}
